<!--<div id="stopwatch">-->
<!--  <span onclick=javascript:getStartTime();>-->
<!--    <i class="fas fa-caret-square-right"></i>-->
<!--  </span>-->
<!--  <span id="startTime" class="align_v">00:00</span>-->
<!--  <span onclick="javascript:getStopTime();">-->
<!--    <i class="fas fa-stop-circle"></i>-->
<!--  </span>-->
<!--  <span id="stopTime" class="align_v">00:00</span>-->
<!--  <span class="textfield">経過時間: </span>-->
<!--  <span id="interval" class="align_v">0</span><span>min</span>-->
<!--</div>-->

<div class="mg10">
  <%= link_to new_minute_path, title: "New", class: "btn p-0", remote: true do %>
    <span class="btn btn-primary">新しいアイテム</span>
  <% end %>
</div>

<table class="table">
  <thead>
    <tr>
      <th>カテゴリー</th>
      <th>作業内容</th>
      <th>開始時間</th>
      <th></th>
      <th>終了時間</th>
      <th>作業時間(min)</th>
<%
=begin %>
      <th>User</th>
<%
=end %>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @minutes_date.each do |minute| %>
      <tr>
        <td><%= minute.category %></td>
        <td><%= minute.content %></td>
        <td id="startTime"><%= minute.start.strftime("%Y/%m/%d %H:%M") %></td>
        <td>
          <%= link_to edit_minute_path(minute), title: "End", remote: true do %>
            <span class="btn btn-primary">終了</span>
          <% end %>
        </td>
        <td id="stopTime">
          <% if minute.stop == nil %>
            作業中
          <% else %>
            <%= minute.stop.strftime("%Y/%m/%d %H:%M") %>
          <% end %>
        </td>
        <td ><%= minute.getTimeDiff %></td>
        <td>
          <%= link_to edit_minute_path(minute), title: "Edit", class: "btn btn-outline-primary w-50px p-0", remote: true do %>
            <span class="btn">修正</span>
          <% end %>
        </td>
        <td>
          <%= link_to '削除', minute, method: :delete, data: {confirm: "削除しますか？"}, class: "btn btn-outline-danger w-50px" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if params['date'] == nil || params['date'] == Date.current.in_time_zone.localtime.strftime("%Y-%m-%d") %>
  <p class="total">今日のカテゴリー別合計 :</p>
<% else %>
  <p class="total"><%= params['date'].to_date.in_time_zone.localtime.strftime("%Y/%m/%d") %> のカテゴリー別合計 :</p>
<% end %>
<% @category_total.each{|key, value| %>
  <% h = value / 60 %>
  <% min = value % 60 %>
  <table class="table mt-0 mb-0">
    <ul>
      <li class="time_category">
        <% if h != 0 %>
          <%= key + " : " + h.to_s + "h " + min.to_s + "min" %>
        <% else %>
          <%= key + " : " + min.to_s + "min" %>
        <% end %>
      </li>
    </ul>
  </table>
<% } %>

<% array_all = [] %>
<% @minutes_date.each do |m| %>
  <% array_all.push(m.getTimeDiff.to_s.delete(":Integer").to_i) %>
<% end %>
<% h = array_all.sum / 60 %>
<% min = array_all.sum % 60 %>
<% if h != 0 %>
  <% if params['date'] == nil || params['date'] == Date.current.in_time_zone.localtime.strftime("%Y-%m-%d") %>
    <p class="total">今日のすべてのカテゴリーの合計 : </p>
  <% else %>
    <p class="total"><p class="total"><%= params['date'].to_date.in_time_zone.localtime.strftime("%Y/%m/%d") %> のすべてのカテゴリーの合計 : </p>
  <% end %>  
  <p class="time_category pl-4"><%= h.to_s + "h " + min.to_s + "min" %></p>
<% else %>
  <% if params['date'] == nil %>
    <p class="total">今日のすべてのカテゴリーの合計 : </p>
  <% else %>
    <p class="total"><p class="total"><%= params['date'].to_date.in_time_zone.localtime.strftime("%Y/%m/%d") %> のすべてのカテゴリーの合計 : </p>
  <% end %>
    <p class="time_category pl-4"><%= min.to_s + "min" %></p>
<% end %>

<p class="total"> 今月のカテゴリー別合計 
  <%= @month.present? ? @month.first.start.localtime.strftime("%Y/%m") :
    Date.current.strftime("%Y/%m") %> :</p>
<% @category_month.each{|key, value| %>
  <% h = value / 60 %>
  <% min = value % 60 %>
  <table class="table mt-0 mb-0">
    <ul>
      <li class="time_category">
        <% if h != 0 %>
          <%= key + " : " + h.to_s + "h " + min.to_s + "min" %>
        <% else %>
          <%= key + " : " + min.to_s + "min" %>
        <% end %>
      </li>
    </ul>
  </table>
<% } %>

<%= link_to "今日のリスト", minutes_path, class: "btn outline btn-primary" %>
<br>
<hr>

<div id="history">
  <h2>履歴</h2>
  <% @array.each do |arr| %>
    <a href="/minutes/?date=<%= arr %>"><%= arr.to_date.in_time_zone.localtime.strftime("%Y/%m/%d") %></a>
    <% date = @minutes.where("to_char(start, 'YYYY-MM-DD') like ?", arr.to_date.in_time_zone.localtime.strftime("%Y-%m-%d") + '%') %>
    <span id="category_hist">
      <%= date.pluck(:category).uniq %>
    </span>
    <br>
  <% end %>
</div>
