<p id="notice"><%= notice %></p>

<h1>Minutes</h1>

<table>
  <thead>
    <tr>
      <th>Category</th>
      <th>Content</th>
      <th>Start</th>
      <th>Stop</th>
      <th>Total</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @minutes.each do |minute| %>
      <tr>
        <td><%= minute.category %></td>
        <td><%= minute.content %></td>
        <td><%= minute.start %></td>
        <td><%= minute.stop %></td>
        <td><%= minute.total %></td>
        <td><%= minute.user %></td>
        <td><%= link_to 'Show', minute %></td>
        <td><%= link_to 'Edit', edit_minute_path(minute) %></td>
        <td><%= link_to 'Destroy', minute, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Minute', new_minute_path %>
