<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @minute.category %>
</p>

<p>
  <strong>Content:</strong>
  <%= @minute.content %>
</p>

<p>
  <strong>Start:</strong>
  <%= @minute.start %>
</p>

<p>
  <strong>Stop:</strong>
  <%= @minute.stop %>
</p>

<p>
  <strong>Total:</strong>
  <%= @minute.total %>
</p>

<p>
  <strong>User:</strong>
  <%= @minute.user %>
</p>

<%= link_to 'Edit', edit_minute_path(@minute) %> |
<%= link_to 'Back', minutes_path %>
